body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1 {
  text-align: center;
}

.item {
  background-color: #111;
  color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
}

span {
  font-weight: bold;
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  background: #febe01;
  color: #332200;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
